.autocomplete-suggestions{
    background: #fff;
    border: 1px solid rgb(102, 175, 233);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.autocomplete-suggestions .autocomplete-suggestion {
    cursor: pointer;
    padding: 3px 10px;
}
.autocomplete-suggestions .autocomplete-suggestion.autocomplete-selected {
    background: rgba(102, 175, 233, .6);
}